body{
    background-color: rgb(211, 223, 233);
}
a{
    text-decoration: none;
    color: brown;
}
#clearBtn {
    background-color: rgba(0, 0, 0, 0.096);
    display: none;
    cursor: pointer;
    font-size: 13px;
    padding: 5px;
    margin-left: -26px;
    border: transparent;
    border-radius: 50%;
}
.qrform{
    width: 95%;
    height:82vh;
    margin: auto;
}
.submit{
    width: 90%;
    margin: 5px;
    padding: 7px;
    background-color: rgb(13, 175, 13);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif;
    font-weight: 600;
    border: 1px solid rgb(13, 175, 13);
    border-radius: 5px;
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(30, 218, 30);
    border: 1px solid rgb(30, 218, 30);
}
#qr-input{
    width:85%;
    font-size: medium;
    margin: 3px;
    padding: 7px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}
#qr-input:focus-visible{
    border:2px solid aqua;
outline: none;
box-shadow: inset 0 0 0 1px rgba(192, 233, 11, 0.137);
}
#qr-output{
    display: block;
margin: 0 auto;
}
#footer{
    text-align: center;
    font-size: 20px;
    color:black;
}
footer a:hover{
    color: rgb(3, 144, 226);
    font-size: 19px;
}
@media only screen and (max-width: 750px) {
    .irresponsible{
        display: none;
    }
}